/* Style the header */

* { box-sizing: border-box;}

header {
  background-color: #D1833F;
  /*position: fixed;*/
  width: 100%;
  min-width: 800px;
}

header img {
  display: block;
  margin: auto;
  padding: 1rem;
}

 header li {
  float: left;
  font-size: 2rem;
  min-width: 33.33%;
  text-align: center;
  background-color: #5184B0;  
}

.right-border {
  border-right: 4px solid black;
}

h1 {
  text-align: center;
  color: #311FD1;
  font-family: inder;
  padding: .5rem;
}
    
/* Style the intro paragraph */

aside {
  float: right;
  width: 40%;
  font-family: philosopher;
  font-size: 2.2rem;
}

aside img {
  display: block;
  width: 500px;
  height: 325px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  }

aside p {
  width: 90%;
  min-width: 500px;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

/* Center all h2 headings */

h2 {
  text-align: center;
  color: #311FD1;
  font-family: inder;
  margin: 1rem;
}

/* Style the portfolio sections */

.portfolio {
  float: left;
  width: 60%;
  padding: 1rem;
  margin: auto;
  background-color: cadetblue;
}
  
.portfolio-entries {
  float: left;
  width: 45%;
  border: 3px solid #58321d;
  margin: 1rem;
  min-height: 400px;
  background-color: beige;
}

.portfolio-entries img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.portfolio-entries a:link {
  font-size: 1.3rem;
}

.portfolio-entries p {
  text-align: center;
}

.portfolio-description {
  font-size: 1.4rem;
  font-family: philosopher;
  text-align: center;
  margin: 1rem;
}

/* Style link behavior*/
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the footer */

footer {
  clear: both;
  text-align: center;
  background-color: #5184B0;
}

/* Style the About page */

article.about {
  font-size: 1.2rem;
  width: 50rem;
  padding: 1rem;
  border: 3px solid #58321d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
}

ul.how {
  list-style-type: square;
}

/* Style the Bio page */
h1 {
  text-align: center;
}

article.bio {
  font-size: 1.2rem;
  width: 60rem;
  padding: 1rem;
  border: 3px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque;
}

article.links {
  width: 60rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

article.links ul {
  list-style-type: none;
}

article.bio img {
  width: 300px;
}

