/* Style the header */

* { box-sizing: border-box;}

/* Create fixed header with background color, fix width to prevent wrapping */
header {
  background-color: #D1833F;
  position: fixed;
  top: 0px;
  width: 100%;
  min-width: 800px;
}

header img {
  display: block;
  margin: auto;
  padding: 1rem;
}

/* Create menu of links */
 header li {
  float: left;
  font-size: 2rem;
  min-width: 33.33%;
  text-align: center;
  background-color: #5184B0;  
}

.right-border {
  border-right: 4px solid black;
}

/* Style h1 heading */
h1 {
  text-align: center;
  color: #311FD1;
  font-family: inder;
  padding: .5rem;
}
    
/* Images and introductory text floated to the right, set top margin to avoid overlap with header */

aside {
  margin-top: 249px;
  float: right;
  width: 40%;
  font-family: philosopher;
  font-size: 2.2rem;
}

aside li {
  float: left;
  width: 33%;
  text-align: center;  
}

aside img {
  clear: both;
  display: block;
  width: 500px;
  height: 325px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  }

aside p {
  width: 90%;
  min-width: 500px;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

/* Center all h2 headings */

h2 {
  text-align: center;
  color: #311FD1;
  font-family: inder;
  margin: 1rem;
}

/* Float the portfolio section left, set width and background, set top margin to avoid overlap with header */

.portfolio {
  float: left;
  width: 60%;
  padding: 1rem;
  margin: auto;
  margin-top: 249px;
  background-color: cadetblue;
}

/* Float each portfolio entry left to create two-up list of entries, style each entry */
  
.portfolio-entries {
  float: left;
  width: 45%;
  border: 3px solid #58321d;
  margin: 1rem;
  min-height: 400px;
  background-color: beige;
}

.portfolio-entries img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.portfolio-entries a:link {
  font-size: 1.3rem;
}

.portfolio-entries p {
  text-align: center;
}

.portfolio-description {
  font-size: 1.4rem;
  font-family: philosopher;
  text-align: center;
  margin: 1rem;
}

/* Style link behavior*/
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the footer */

footer {
  clear: both;
  text-align: center;
  background-color: #5184B0;
  padding: 1rem;
}

/* Style the About page */

.how {
  clear: both;
  margin-top: 249px;
  list-style-type: none;
  font-size: 1.2rem;
  font-family: philosopher;
  background-color: #B0AD51;
  padding: 1rem;
  border-top: 2px solid black;
}

.how p {
  width: 70%;
  margin: auto;
  padding: 2rem;
}

.how ul {
  width: 70%;
  margin: auto;
  padding: 1rem;
  border: 1px solid black;
}

.about {
  float: left;
  font-size: 1.2rem;
  font-family: philosopher;
  width: 50%;
  border-top: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.about-right-border {
  border-right: 2px solid black;
}

.about p {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

/* Style the Bio page */

.bio {
  font-size: 1.2rem;
  width: 60rem;
  padding: 1rem;
  border: 3px solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: bisque;
}

.bio p {
  padding: 1rem;
  font-family: philosopher;
}

.bio img {
  padding: 1rem;
  width: 300px;
}

.bio figcaption {
  padding-left: 1rem;
  font-family: Oswald;
}

.bio ol {
  padding-left: 1rem;
  font-family: philosopher;
}

.links {
  width: 60rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.links ul {
  list-style-type: none;
}


